
/*********************************************************************/
/*//Remedy Partner Customized Styles*/
/*********************************************************************/
.react-datepicker__input-container {
/*//.inputBoxInactive {*/
  width: auto;
  height: auto;
  border-radius: 4px;
  background-color: #f9fcff; /*//$blueBackground; //f9fcff*/
  font-family: OpenSans;
  font-size: 14px;
  color: #354a5d; /*//$textColor; //354a5d*/
  padding: 2px;
}
.react-datepicker__input-container input {
  padding: 8px 20px 8px 8px;
  width: 180px;
  border: solid 1px #d5ebfb; /*//$borderColor; //d5ebfb*/
  background-color: #f9fcff;
  font-style: italic;
  background: url(assets/calendar 2.png) no-repeat scroll 182px 7px;
}
.react-datepicker__tether-enabled input {
  background-color: #fff;
  font-style: normal;
  background: url(assets/calendar.png) no-repeat scroll 182px 7px;
}
.react-datepicker__input-container.react-datepicker-ignore-onclickoutside {
/*//.inputBoxActive {*/
  border-radius: 4px;
  background-color: #ffffff;
 /* border: solid 1px #d5ebfb; //$borderColor; //d5ebfb*/
}
/*//put as an ::after for the above element*/
.calendarIcon {
  width: 16px;
  height: 16px;
  object-fit: contain;
  background-color: #2c3e50;
}
/*//Font and style for date within the input field after entry*/
.selectDate {
/*  //width: 86px;
  //height: 19px;*/
  font-family: OpenSans;
  font-size: 14px;
  font-style: italic;
  color: #354a5d; /*//$textColor; //354a5d*/
}
.react-datepicker__header {
/*//.monthTableHeader {
  //width: 250px;
  //height: 67.1px;*/
  background-color: #f3f8fe; /*//$stripedBackground; //#f3f8fe*/
  border: solid 1px #d5ebfb; /*//$borderColor; //d5ebfb*/
}
.react-datepicker__day-name {
/*//.weekDays {*/
  width: 12%; /*.14323%;*/
  /*//height: 17px;
  //font-family: OpenSans;*/
  font-size: 12px;
  /*color: #354a5d; //$textColor; //354a5d*/
}
.react-datepicker__month {
/*//.calendarDaysWrap {
  //width: 250px;
  //height: 194px;
  //border-radius: 4px;*/
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}
.react-datepicker__week {
/*//.dateLabel {*/
  font-size: 14px;
  text-align: center;
  color: #1d93bf; /*//$blue; //1d93bf*/
}
.react-datepicker__navigation {
  border: 0.35rem solid transparent;
}
.react-datepicker__navigation--previous {
/*.leftArrow {*/
  object-fit: contain;
  /*-webkit-transform: rotate(-270deg);
  transform: rotate(-270deg);*/
  /*//background-color: #1d93bf; //$blue; //1d93bf*/
  background: url(/assets/icon-dropdown-copy-3@3x.png) no-repeat scroll 7px 7px;
  border-right-color: #1d93bf;
}
.react-datepicker__navigation--next {
/*//.rightArrow {
  //width: 10px;
  //height: 5px;*/
  object-fit: contain;
 /* -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);*/
  border-left-color: #1d93bf;
  /*//background-color: #1d93bf; //$blue; //1d93bf*/
}
.react-datepicker__current-month {
/*//.monthTitle {*/
  /*font-family: OpenSans;*/
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-align: center;
  color: #354a5d; /*//$textColor; //354a5d*/
  margin-bottom: 10px;
}

/*//This tag is for days from the previous month - might not need*/
.react-datepicker__day {
    /*//width: 12.43234%;*/
    /*width: 33.22px;
    height: 33.22px;*/
    width: 35px;
    height: 32px;
    color: #1d93bf;
    border: solid 1px #d5ebfb;
    margin: 0;
    line-height: 1.76rem;

}
/*disabled day styles*/
.react-datepicker__day--disabled {

}
/*day date from previous month*/
.react-datepicker__day--outside-month {
    content: '';
    color: #fff;
}
.react-datepicker__day--today {
  color: #ff9800;
  font-weight: normal;
}
/*.twoMonthSpread {
/*.combined-shape {
  width: 519px;
  height: 66.1px;
  background-color: $stripedBackground;
  border: solid 1px $borderColor;
}*/
.multiWrap DatePicker {
  margin-bottom: 30px;
}

.react-datepicker__day--selected,
.react-datepicker__day--selecting-range-start,
.react-datepicker__day--selecting-range-end  {
  opacity: 1;
  color: #fff;
}
.react-datepicker__day--in-range,
.react-datepicker__day--in-selecting-range {
  opacity: 0.7;
  color: #fff;
}


.react-datepicker__day--selected,
.react-datepicker__day--in-range,
.react-datepicker__day--in-selecting-range {
  background-color: #ad77b3; /*Purple*/
}

.react-datepicker__day:hover {
  background-color: #1d93bf; /*Blue*/
  color: #fff;
}
.react-datepicker__day--range-start {
/*//.selectedSingleDay {*/
  background-color: #ad77b3; /*//$blue; //1d93bf*/
  color: #fff !important;
  opacity: 1;
}


.react-datepicker__day--range-start {
/*.selectedStartDay { */
  width: 35px;
  height: 32px;
  background-color: #ad77b3; /*//$lightViolet; //ad77b3*/
  color: #fff;
}
.react-datepicker__day--range-end {
/*.selectedEndDay {*/
  width: 35px;
  height: 32px;
  background-color: #1d93bf; /*//$blue; //1d93bf*/
  color: #fff;
  /*background-color: #ad77b3; //$blue; //1d93bf
  color: #fff !important;*/
  opacity: 1;
}
.react-datepicker__month--selecting-range .react-datepicker__day--in-range:not(.react-datepicker__day--in-selecting-range){
  background-color: #1d93bf;
  color: #fff;
}


.react-datepicker__day--in-range,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--selecting-range-start,
.react-datepicker__day--selecting-range-end {
/*.multiSelectedDays {*/
  opacity: 0.7;
  background-color: #ad77b3; /*$lightViolet; //#ad77b3*/
}


/*
.react-datepicker__day {} //(parent node)
.react-datepicker__day--disabled {} // this.isDisabled(),
.react-datepicker__day--selected {} // this.isSameDay(this.props.selected),
.react-datepicker__day--keyboard-selected {} // this.isKeyboardSelected(),
.react-datepicker__day--highlighted {} // this.isHighlighted(),



.react-datepicker__day--today {} // this.isSameDay(moment.utc().utcOffset(this.props.utcOffset)),
.react-datepicker__day--weekend {} // this.isWeekend(),
.react-datepicker__day--outside-month {}*/
